.headerBar{
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}
.appLogo{
    background-color: #ff7f7f;
    height: 35px;
    animation: rotate 8s infinite linear;
}
@keyframes rotate {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(-1);
    }
}